@font-face {
   font-family: 'Fantasque Sans Mono';
   src: url('~/assets/fonts/FantasqueSansMono-Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: 'Fantasque Sans Mono';
   src: url('~/assets/fonts/FantasqueSansMono-Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
 }

 @font-face {
   font-family: 'Fantasque Sans Mono';
   src: url('~/assets/fonts/FantasqueSansMono-Italic.woff2') format('woff2');
   font-weight: 400;
   font-style: italic;
 }

 @font-face {
   font-family: 'Fantasque Sans Mono';
   src: url('~/assets/fonts/FantasqueSansMono-BoldItalic.woff2') format('woff2');
   font-weight: 700;
   font-style: italic;
 }
